{% extends "base.html.twig" %}
{% block body %}
    {{ include('animal/header.html.twig') }}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link text-dark {% if currentTab == 'visits' %}active{% endif %}"
                       {% if currentTab == 'visits' %}aria-current="true"{% endif %}
                       href="{{ path('visit', {'id': animal.id}) }}">Wizyty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark {% if currentTab == 'vaccines' %}active{% endif %}"
                       {% if currentTab == 'vaccines' %}aria-current="true"{% endif %}
                       href="{{ path('vaccine', {'id': animal.id}) }}">Szczepienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark {% if currentTab == 'parasiteProtections' %}active{% endif %}"
                       {% if currentTab == 'parasiteProtections' %}aria-current="true"{% endif %}
                       href="{{ path('parasite_protection', {'id': animal.id}) }}">Pasożyty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark {% if currentTab == 'cares' %}active{% endif %}"
                       {% if currentTab == 'cares' %}aria-current="true"{% endif %}
                       href="{{ path('care', {'id': animal.id}) }}">Pielęgnacja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark {% if currentTab == 'symptoms' %}active{% endif %}"
                       {% if currentTab == 'symptoms' %}aria-current="true"{% endif %}
                       href="{{ path('symptom', {'id': animal.id}) }}">Objawy</a>
                </li>
            </ul>
        </div>
        <div class="card text-center">
            <div id="tabcontent" class="card-body">
                {% block tabcontent %}{% endblock %}
            </div>
        </div>
        <div>
            <p class="text-center mt-2"><a href="{{ path('animal_index') }}" class="btn btn-warning"> Powrót </a></p>
        </div>
    </div>
{% endblock %}