{% extends 'animal/animal-base.html.twig' %}
{% block tabcontent %}
    <div class="container">
        <div>
            <h5 class="text-center">Zabezpieczenie na pasożyty</h5>
            <p class=" text-start" role="button">
                <a class="btn btn-warning" href=" {{ path('create_parasite_protection', {'id': animal.id }) }}">
                    Dodaj zabezpieczenie na pasożyty
                </a>
            </p>
        </div>
        <ul class="list-group">
            {% for parasiteProtection in parasiteProtections %}
                <li class="list-group-item">
                    <div class="row g-0">
                        <div class="col-sm-8 col-md-9">
                            <p class="fs-5 mt-2">
                                {{ parasiteProtection.date|date("m/d/Y") }}
                                {{ parasiteProtection.description }}
                            </p>
                        </div>
                        <div class="col-4 col-md-3">
                            <div class="btn-group" role="group">

                                <button type="button" class=" btn btn-outline-dark">
                                    <a class="text-decoration-none" href="{{ path('edit_parasite_protection',
                                        {   'animalId': animal.id,
                                            'parasiteProtectionId': parasiteProtection.id }) }}">
                                        <span class=" fs-4 text-warning"> &#10000;</span>
                                    </a>
                                </button>

                                <button type="button" class="btn btn-outline-dark">
                                    <a c href="{{ path('delete_parasite_protection',
                                        {   'animalId': animal.id,
                                            'parasiteProtectionId': parasiteProtection.id }) }}">
                                        <span class=" btn-close"> &#9587;</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>


                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}
